{% extends "base.html" %}
{% block header %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 10px dashed gray; margin: auto; min-height: 200px; max-width: 500px') }}
    {{ super() }}
    <style>
    #uploader {border: 10px dashed gray; margin: auto; min-height: 200px; max-width: 500px}
    </style>

{% endblock %}

{% block app_content %}
    <div class="row">
        {{ dropzone.create(action=url_for('uploader.upload'), id='uploader')}}
        <hr>
        <div class="col-md-12 text-center">
            <button id="upload" class="btn btn-primary">Upload</button>
        </div>
{#    <form action="upload" class="dropzone"></form#}
        {{ dropzone.load_js() }}
        {{ dropzone.config(redirect_view='main.index', id='uploader') }}
    </div>


{% endblock %}


