# virtual environments
hazen-venv
/venv/

# tests
.coverage
coverage.xml
pytest-coverage.txt
pytest.xml

# cache
**/__pycache__
.idea
.DS_Store
/.cache/
/.bash_history
.pytest_cache

# logs
logs
*.log
Hazen_logger.log
hazen.egg-info
dist

# data
uploads
*.png
# TODO: Remove the following if no longer needed
tests/data/slicepos/results
tests/data/uniformity/results
hazenlib/data

# docs
docs/_build
docs/build
build

# mischellaneous
# TODO: Remove the following if no longer needed
hazen_getting_started.pdf
/junit.xml
.scannerwork
nodeids
htmlcov