# virtual environments
hazen-venv
/venv/

# tests
.coverage
coverage.xml
pytest-coverage.txt
pytest.xml

# cache
**/__pycache__
.idea
.DS_Store
/.cache/
/.bash_history
.pytest_cache

# logs
logs
*.log
Hazen_logger.log
hazen.egg-info
dist

# data
uploads
*.png
report*
# TODO: Remove the following if no longer needed
hazenlib/data
dump/
tests/data

# docs
docs/_build
docs/build
build

# miscellaneous
.vscode
*~
