opencv_python==3.4.2.17
pytest==3.6
numpy==1.17.4
matplotlib==2.1.1
setuptools==39.0.1
pydicom==1.2.1
imutils
docopt
coverage
pytest-cov
gunicorn
flask
flask-wtf
flask-sqlalchemy
flask-migrate
flask-login
Flask-Bootstrap4
flask-mail
flask-moment
flask-dropzone
pyjwt
psycopg2-binary==2.8.4
scikit-image
sqlalchemy_utils
arrow
celery
amqp