opencv_python
pytest==3.2.5
numpy
matplotlib==2.1.1
setuptools==39.0.1
pydicom==1.2.1
coverage
pytest-cov
gunicorn
flask
flask-wtf
flask-sqlalchemy
flask-migrate
flask-login
Flask-Bootstrap4
flask-mail
flask-moment
flask-dropzone
pyjwt
psycopg2-binary
scikit-image
sqlalchemy_utils
arrow
celery