scikit-image==0.19.0
numpy==1.21.4
opencv-python==4.5.4.58
pytest>=6.2
pydicom==1.4.1
matplotlib==3.4.3
scipy==1.7.2
psycopg2-binary==2.8.4
coverage>=6.0.2
imutils==0.5.3
docopt==0.6.2
colorlog==6.6.0
