<div class="col-lg-4 col-md-6 col-xs-8">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">{{ acquisition.author.username }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ moment(acquisition.created_at.naive).fromNow() }}</h6>
            <p class="card-text">{{ acquisition.description }}</p>
            <a href="#0" class="card-link">Reports</a>
            <a href="#0" class="card-link">Share</a>
        </div>
    </div>
</div>
